<section class="service-area grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="section-title service-title">
                    <h2>Our Services</h2>
                </div>
                <div class="services-paragraph">
                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future. We
                      integrate your existing systems with advanced technologies and help you move your business
                       forward. Nova Vector offers ready to use solutions in domains of: IoT, Blockchain, Advanced Analytics.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/support.png" alt="Support">
                    </div>
                    <div class="section-title service-title">
                        <h4>Support</h4>
                    </div>
                        <p>Nova Vector provides great support services, ensuring prompt assistance and reliable solutions.</p>
                        <a class="service-btn" href="{{site.baseurl}}/pages/support">Read More</a>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/services.png" alt="Service">
                    </div>
                    <div class="section-title service-title">
                        <h4>Service</h4>
                    </div>
                        <p>Nova Vector delivers tailored services, ensuring seamless integration and proactive maintenance.</p>
                        <a class="service-btn" href="{{site.baseurl}}/pages/professional-services">Read More</a>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/training.png" alt="Training">
                    </div>
                    <div class="section-title service-title">
                        <h4>Training</h4>
                    </div>
                        <p>Nova Vector offers training programs, equipping your team with skills to leverage tech effectively.</p>
                        <a class="service-btn" href="{{site.baseurl}}/pages/training">Read More</a>
                </div>
            </div>
            <!-- <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="/assets/img/icons/paas.png" alt="PaaS">
                    </div>
                    <div class="section-title service-title">
                        <h4>PaaS</h4>
                    </div>
                        <p>Lorem ipsum dolor sit amet, cons lorem</p>
                        <a class="service-btn" href="{{site.baseurl}}/pages/paas">Read More</a>
                </div>
            </div> -->
            <!-- {% for service in site.services %}
            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
                <div class="features-wrap">
                    {% if service.icon %}
                    <div class="features-icon">
                        <img src="{{service.icon}}" alt="{{service.title}}">
                    </div>
                    {% endif %}
                    <div class="section-title service-title">
                    <h4>{{service.title}}</h4>
                    </div>
                    <p>{{service.description}}</p>
                    <a class="service-btn" href="{{service.url}}">Read More</a>
                </div>
            </div>
            {% endfor %} -->
        </div>
    </div>
</section>